.imageContainer {
    width: 100%;
    max-height: 600px;
    overflow: hidden;
    position: relative;
}

.movieTitle {
    color: white;
    position: absolute;
    bottom: 200px;
    left: 75px;
}  

.movieTitle > h1 {
    font-size: 100px;
}

.buttonMain {
    position: absolute;
    bottom: 125px;
    left: 80px;
}

.playButton {
    margin: 0 5px 0 0;
    padding: 5px 15px;
    font-size: 17px;
    border: white;
}

.playButton:hover {
    border: rgba(255,255,255,0.75);
    background-color: rgba(255,255,255,0.75);
}

.playIcon {
    margin: -5px 5px 0 0;
}

.playText {
    font-size: 20px;
}

.infoIcon {
    margin: -5px 5px 0 0;
}

.infoText {
    font-size: 20px;
}

.moreInfoButton {
    color: white;
    border: rgba(109,109,110,0.7);
    background-color: rgba(109,109,110,0.7);
    margin: 0 0 0 5px;
    padding: 0.5px 15px 3px 11px;
    font-size: 25px;
}

.moreInfoButton:hover {
    color: white;
    border: rgba(109,109,110,0.4);
    background-color: rgba(109,109,110,0.4);;
}

.mainMovie {
    width: 100vw;
    object-fit: cover;
}

@media (min-width: 200px) {
    .imageContainer {
        margin-top: 66px;
    }

    .movieTitle {
        position: absolute;
        bottom: 5px;
        left: 18px;
    }  
    
    .movieTitle > h1 {
        font-size: 50px;
    }
    
    .buttonMain {
        visibility: hidden;
    }
    
    .mainMovie {
        width: 100vw;
        object-fit: cover;
    }
}

@media (min-width: 600px) {
    .imageContainer {
        margin-top: 80px;
    }
    
    .movieTitle {
        color: white;
        position: absolute;
        bottom: 65px;
        left: 19px;
    }  
    
    .movieTitle > h1 {
        font-size: 75px;
    }
    
    .buttonMain {
        position: absolute;
        bottom: 30px;
        left: 24px;
        visibility: visible;
    }
    
    .playButton {
        margin: 0 5px 0 0;
        padding: 5px 15px;
        font-size: 14px;
        border: white;
    }
    
    .playButton:hover {
        border: rgba(255,255,255,0.75);
        background-color: rgba(255,255,255,0.75);
    }
    
    .playIcon {
        margin: -5px 5px 0 0;
    }
    
    .playText {
        font-size: 17px;
    }
    
    .infoIcon {
        margin: 0;
        height: .75em;
    }
    
    .infoText {
        font-size: 17px;
    }
    
    .moreInfoButton {
        color: white;
        border: rgba(109,109,110,0.7);
        background-color: rgba(109,109,110,0.7);
        margin: 0 0 0 5px;
        padding: 0px 15px 0.5px 11px;
        font-size: 25px;
    }
    
    .moreInfoButton:hover {
        color: white;
        border: rgba(109,109,110,0.4);
        background-color: rgba(109,109,110,0.4);;
    }
    
    .mainMovie {
        width: 100vw;
        object-fit: cover;
    }
}

@media (min-width: 1000px) {
    .imageContainer {
        margin-top: 94px;
    }
    
    .movieTitle {
        color: white;
        position: absolute;
        bottom: 165px;
        left: 49px;
    }  
    
    .movieTitle > h1 {
        font-size: 100px;
    }
    
    .buttonMain {
        position: absolute;
        bottom: 125px;
        left: 56px;
        visibility: visible;
    }
    
    .playButton {
        margin: 0 5px 0 0;
        padding: 5px 15px;
        font-size: 17px;
        border: white;
    }
    
    .playButton:hover {
        border: rgba(255,255,255,0.75);
        background-color: rgba(255,255,255,0.75);
    }
    
    .playIcon {
        margin: -5px 5px 0 0;
    }
    
    .playText {
        font-size: 20px;
    }
    
    .infoIcon {
        margin: -5px 5px 0 0;
        height: 1em;
    }
    
    .infoText {
        font-size: 20px;
    }
    
    .moreInfoButton {
        color: white;
        border: rgba(109,109,110,0.7);
        background-color: rgba(109,109,110,0.7);
        margin: 0 0 0 5px;
        padding: 0.5px 15px 3px 11px;
        font-size: 25px;
    }
    
    .moreInfoButton:hover {
        color: white;
        border: rgba(109,109,110,0.4);
        background-color: rgba(109,109,110,0.4);;
    }
    
    .mainMovie {
        width: 100vw;
        object-fit: cover;
    }
}